picture img{
    width: 100%;
    /* padding: 1rem; */
    margin: 1rem 0;
    border-radius: 1rem;
}

img{
    width:100%;
    margin: 1rem 0;
    border-radius: 1rem;
}

.row{
    max-width: 1200px;
    margin:0 auto;
}

.listen{
    max-width:600px;
    margin: 0 auto;
    padding:1rem;
}

iframe{
    height:40vh;
}